.container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

a {
  // ducpliacted in nav
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  &:hover {
    color: rgba(0, 0, 0, 0.8);
  }
}

p {
  margin: 0;
}

label {
  margin-top: 10px;
  margin-bottom: 6px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 20px;
}

nav {
  padding: 20px 40px;
  background-color: #e9ecef;
  a {
    font-family: 'Roboto Slab', 'Helvetica', 'sans-serif';
    margin-right: 20px;
    // duplicated in a
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.brand {
  font-size: 20px;
  font-weight: 600;
}